<div class="user">
  <h3 class="link_profile"><%= link_to "@#{user.username.upcase}", user%></h3>
  <% unless current_user == user then %>
    <h3><%= link_to "Follow", users_followers_path(user: user), data: {turbo_method: :post}%></h3>
  <% end %>
</div>
