<h2>Username: <%= user.username %></h2>
<h3>Email: <%= user.email %></h3>
<h3>Profile: <%= link_to "#{user.username.upcase}'s profile", user%></h3>
<ul>
  <h3>User posts:</h3>
  <%= render user.posts %>
</ul>