:root
{
    --primary-color: rgb(51, 51, 51);
    --secondary-color: rgb(223, 243, 228);
    /* --primary-color: rgb(223, 243, 228); 
    --secondary-color: rgb(51, 51, 51); */
    --accent-color: rgb(11, 88, 88);
    --accent-color-blur: rgb(51, 51, 51, 0.7);
    --space-between-elemets: 24px;

    width: 100%;
    height: 100%;

    line-height: 1.2;
}
body{
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
a {
    color: var(--secondary-color);
    font-weight: 900;
}
.navigation_main {
    /* box-shadow: var(--secondary-color) 1px 0px 5px; */
    background-color: var(--accent-color);
}
.links {
    padding-left: var(--space-between-elemets);
    padding-top: 24px;
    font-size: 24px;
    position: sticky;
    top: 0px;
    list-style: none;
}
.links > .title {
    color: var(--secondary-color);
    text-shadow: var(--secondary-color) 1px 1px 3px;
    padding-right: var(--space-between-elemets);
}

.links > *{
    padding: 10px;
}

header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: var(--space-between-elemets);
    text-align: center;
    font-size: 24px;
    box-shadow: var(--secondary-color) 0px 2px 10px;
}

.main_layout {
    display: grid;
    grid-template: 1fr / 1fr 9fr;
}