/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 

@font-face {
    font-family: 'pacificoregular';
    src: url('pacifico-webfont.woff2') format('woff2'),
         url('pacifico-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'muliregular';
    src: url('muli-webfont.woff2') format('woff2'),
         url('muli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'grand_hotelregular';
    src: url('grandhotel-regular-webfont.woff2') format('woff2'),
         url('grandhotel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandregular';
    src: url('quicksand-regular-webfont.woff2') format('woff2'),
         url('quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandlight';
    src: url('quicksand-light-webfont.woff2') format('woff2'),
         url('quicksand-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotothin';
    src: url('roboto-thin-webfont.woff2') format('woff2'),
         url('roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
     padding: 0px;
     margin: 0px;
 }
html {
     padding: 10px;
     padding-top: 25px;
     font-size: clamp(1rem, 0.75rem + 0.5vw, 2rem);
     font-family: quicksandregular, monospace ,sans-serif;
     line-height: 2.2;
}
body{
    display: grid;
    grid-template: 1fr 9fr / 1fr 9fr;
}
body, html, :root{
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: #c7d2fe;
    padding: 0px;
    margin: 0px;
}
.logo {
    grid-area: 1 / 1 / 2 / 2;
    background-image: "assets/images/bird.svg";
    background-color: #0284c7;
    background-position: center center;
    /* border-bottom: #172554 1px solid; */

}
header {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    background-color: #0284c7;
    border-bottom: #172554 2px solid;
}
header > * {
    flex: 1;
}
h1 {
    align-self: center;
    font-size: 3em;
    color: rgb(81, 0, 81); 
    margin: 20px;
    text-align: start;
    font-family: pacificoregular, grand_hotelregular, monospace ,sans-serif;

}
.profile_links{
    padding-right: 5%;
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
}
.profile_links > *
{
    border: 1px, solid, black;
    padding: 2%;
    background-color: blanchedalmond;
    border-radius: 15%;
}
a {
    font-weight: 900;
    font-style: italic;

    text-decoration: none;
}
main {
    /* height: 100%; */
    width: 100%;
    box-sizing: border-box;
    /* border: 1px black solid; */
}
.navigation, .navigation_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100%;
}
.navigation > li, .navigation_main > li {
    list-style: none;
    border: 1px, solid, black;
    border-radius: 0% 15% 0% 0%;
    padding: 6px;
    background-color: blanchedalmond;
}
.navigation_main > li{
}

.navigation_main{
    /* flex-direction: row; */
    justify-content: start;
    background-color: #0284c7;
}
.posts{
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.comment_form{
    margin-top: 20px;
}

.content {
    font-size: 2rem;
}

.post {
    background-color: blanchedalmond;
    display: grid;
    border: 1px solid white;
    grid-template: 100% / 4fr 1fr;
    overflow: auto;
    width: 400px;
    height: 300px;
}
.post > * {
    border: 3px black solid;
}