.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post {
    display: flex;
    width: 40%;
    height: 95vh;
    color: var(--secondary-color);
    border: 4px solid var(--primary-color);
    border-radius: 20px;
    background-color: var(--accent-color);
    padding: var(--space-between-elemets);
    /* background-color: var(--secondary-color); */
    margin: var(--space-between-elemets);
    display: grid;
    grid-template: 1fr / 9fr 1fr;
    justify-content: space-between;
    font-size: 20px;
    overflow: auto;
}
.post > .navigation {
    color: var(--secondary-color);
    list-style: none;
}
.post > .navigation > * {
    padding: 8px 0px 8px 0px;
}
.post > .basic_info > *{
    padding: 8px 0px 8px 0px;

}
.comment_form{
    position: sticky;
    top: 90%;
}

.comment_field {
    padding: 8px;
}

.comment {
    margin: 12px 0px 12px 0px;
}
.comment > .navigation {
    list-style: none;
    display: flex;
    gap: var(--space -between-elemets);
}

@media (max-width: 850px) {
.post {
    width: 85%;
}
}
@media (max-width: 1300px) {
    .post {
      width: 50%;
    }
  }
  @media (max-width: 1050px) {
    .post {
      width: 60%;
    }
  }